h1 {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 9pt;
  color: white;
}
h3 {
  font-family: "Aclonica";
  font-size: 18px;
}
h6 {
  font-size: 20px;
}
.img {
  border-radius: 8px;
}

#large-text {
  text-align: center;
}

.container {
  display: flex;
}
.fixed {
  flex-grow: 1;
}

.flex-item {
  width: 100%;
  height: 100%;
}
#dio{
  opacity: 0;
  width: 20%;
  height: 20%;
}
#dio:hover{
  opacity: 1;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}